@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

/*
    =========================================
    Container
    =========================================
*/
.main-container {
    max-width: 1000px;
    width: calc(100% - 2rem);
    min-height: 100vh;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr 5.5fr 1fr 1fr;
    grid-template-areas: "header"
                        "state"
                        "board"
                        "buttons"
                        "footer";
}

.board-container {
    position: relative;
    max-width: 400px;
    max-height: 400px;
    width: 72vw;
    height: 72vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: all ease 0.3s;
}

.btn-container {
    max-width: 300px;
    width: 72vw;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "restart restart"
                        "previous next";
    align-items: center;
    opacity: 0;
    transition: all ease 0.3s;
}

/*
    =========================================
    Grid Areas
    =========================================
*/
header {
    grid-area: header;
}

#current {
    grid-area: state;
    opacity: 0;
    transition: all ease 0.3s;
}

.board-container {
    grid-area: board;
}

#current,
.board-container,
.btn-container {
    align-self: center;
    justify-self: center;
}

#restart-btn {
    grid-area: restart;
    justify-self: center;
}

#previous-btn {
    grid-area: previous;
    justify-self: start;
    transition: all ease 0.3s;
}

#next-btn {
    grid-area: next;
    justify-self: end;
    transition: all ease 0.3s;
}
/*
    =========================================
    Tic Tac Toe Board
    =========================================
*/
.tic-tac-toe {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/*
    =========================================
    Cells
    =========================================
*/
.cell {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    border-top: none;
}

.right {
    border-right: none;
}

.bottom {
    border-bottom: none;
}

.left {
    border-left: none;
}

/*
    =========================================
    Strikethrough
    =========================================
*/
.strike {
    background: rgba(30, 218, 99, 0.918);
    position: absolute;
    border-radius: 5px;
}

#horizontal {
    left: 2%;
    width: 0;
    height: 10px;
    transition: width 0.3s;
}

#vertical {
    top: 2%;
    width: 10px;
    height: 0;
    transition: height 0.3s;
}

.diagonal {
    top: 0;
    height: 10px;
    transform-origin: left;
    transition: width 0.3s;
}

#diagonal-left {
    width: 0;
    left: 4.5%;
    transform:  translate(0%, 120%) rotate(45deg);
}

#diagonal-right {
    width: 0;
    right: 4.5%;
    transform:  translate(100%, 120%) rotate(135deg);
}

/*
    =========================================
    Popup
    =========================================
*/
.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "text text"
                        "player-x player-o";
    background: white;
    border-radius: 20px;
    padding: 2rem;
    opacity: 1;
    transition: all ease 0.3s;
}

.popup-text {
    grid-area: text;
    margin-bottom: 1.5rem;
}

#player-x {
    grid-area: player-x;
}

#player-o {
    grid-area: player-o;
}

.player-choose {
    border-radius: 5px;
    justify-self: center;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-choose:hover {
    cursor: pointer;
}

/*
    =========================================
    Buttons
    =========================================
*/
.btn {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    font-size: 1em;
}

.btn:hover > span,
.btn:hover > i,
.btn:hover {
    cursor: pointer;
}

.disabled {
    color: gray;
}

.disabled:hover > span,
.disabled:hover > i,
.disabled:hover {
    cursor: default;
}

/*
    =========================================
    Typography
    =========================================
*/
.title,
.btn span,
#current,
.popup-text,
#greeting-text {
    font-family: 'Roboto Mono', monospace;
}

#greeting {
    text-align: center;
}

.title,
.btn span,
.btn i {
    width: fit-content;
}

.title,
.popup-text {
    font-size: 2em;
}

#current,
#greeting-text    {
    font-size: 3em;
}

.fa-xmark {
    font-size: 7rem;
}

.fa-o {
    font-size: 6rem;
}

.hide {
    display: none;
}
