* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
    =========================================
    Container
    ========================================= 
*/
.main-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

/*
    =========================================
    Tic Tac Toe Board
    ========================================= 
*/
.tic-tac-toe {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/*
    =========================================
    Cells
    ========================================= 
*/
.cell {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    border-top: none;
}

.right {
    border-right: none;
}

.bottom {
    border-bottom: none;
}

.left {
    border-left: none;
}

/*
    =========================================
    Typography
    ========================================= 
*/
.header {
    font-size: 3em;
}